name: Simple Build Check

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
      
    - name: Install Dependencies (Ubuntu)
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential cmake
        
    - name: Configure and Build
      run: |
        mkdir build
        cd build
        cmake ..
        make
        ./2D-renderer-cpp
